<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Service Areas : Use Car Bucks</title>

  <!-- meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />

  <!-- global styles -->
  <link rel="stylesheet" type="text/css" href="http://my.mediasation.com/usecarbucks.com/globals/content.css" media="screen" />

      <!--[if IE]>
         <link rel="stylesheet" type="text/css" href="http://my.mediasation.com/usecarbucks.com/globals/ie.css" media="all" />
      <![endif]-->

  <!-- base menu styles  -->
  <link rel="stylesheet" type="text/css" media="screen" href="http://my.mediasation.com/usecarbucks.com/superfish/1.4.8/css/superfish.css" />

  <!-- structure styles -->
  <link rel="shortcut icon" type="image/ico" href="http://my.mediasation.com/usecarbucks.com/favicon.ico" />
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/a663c8d7-ad4d-4801-99bb-06e79f9f7b80.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="http://my.mediasation.com/usecarbucks.com/styles/slicknav.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="http://my.mediasation.com/usecarbucks.com/jquery/plugins/thickbox-3.1/thickbox.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="http://my.mediasation.com/usecarbucks.com/spark/_globals/_print.css" media="print" />


  <!-- company override styles -->
  <link rel="stylesheet" type="text/css" href="http://my.mediasation.com/usecarbucks.com/styles/_override.css?v=06302015_1205" media="screen" />
  <link rel="stylesheet" type="text/css" href="jasper.css" media="screen" />

</head>

<body id="default" class="spark default page_service-areas browser_chrome browser_webkit  margin_empty ">
  <div class="app-container">
  <!-- begin div.outer_wrapper -->
  <div id="outer_wrapper" class="has_vcard layout_script has_three_opts has_print_logo os_mac">
    <!-- begin div.wrapper -->
    <div id="wrapper" class="margin_empty  no_section_menu">
      <!-- begin div.accessibility -->
      <div id="accessibilityLabel" class="hidden offscreen">Accessible Navigation</div>
      <div id="accessibility" role="menubar" aria-labelledby="accessibilityLabel" class="hidden offscreen">
        <ul>
          <li><a href="http://my.mediasation.com/usecarbucks.com/#accesskey_list" accesskey="?">View Accesskeys <small>(Keyboard Shortcuts)</small></a></li>
          <li><a href="http://my.mediasation.com/usecarbucks.com/#topNavigation" accesskey="A">Skip to the main navigation</a></li>
          <li><a href="http://my.mediasation.com/usecarbucks.com/#contentWrapper" accesskey="C">Skip to the content</a></li>
          <li><a href="http://my.mediasation.com/usecarbucks.com/#sideBar" accesskey="S">Skip to the side bar</a></li>
        </ul>
      </div>
      <!-- end div.accessibility -->
      <div class="hr hidden">
        <hr />
      </div>
      <!-- begin div.header_wrapper -->
      <div id="header_wrapper">
        <!-- begin div.header -->
        <div id="header">
          <!-- begin div.topNavigation -->
          <div id="navLabel" class="hidden">
            <strong class="label">Main Navigation</strong>
          </div>
          <div id="topNavigation" class="nav" role="navigation" aria-labelledby="navLabel">
            <ul id="superfish" class="sf-menu">
              <li class="item1 floor-plans ">
                <a href="http://my.mediasation.com/usecarbucks.com/floor-plans.php" accesskey='1'>
                  <span>Floor Plans</span>
                </a>
              </li>
              <li class="item2 service-areas selected">
                <a href="http://my.mediasation.com/usecarbucks.com/service-areas.php" accesskey='2'>
                  <span>Service Areas</span>
                </a>
              </li>
              <li class="item3 auctions ">
                <a href="http://my.mediasation.com/usecarbucks.com/auctions.php" accesskey='3'>
                  <span>Auctions</span>
                </a>
              </li>
              <li class="item4 contact-us ">
                <a href="http://my.mediasation.com/usecarbucks.com/contact-us.php" accesskey='4'>
                  <span>Contact Us</span>
                </a>
              </li>
              <li class="item5 login  last">
                <a href="http://my.mediasation.com/usecarbucks.com/login.php" accesskey='5'>
                  <span>Login</span>
                </a>
              </li>
            </ul>

          </div>
          <!-- end div.topNavigation -->

          <div id="menu_contact">
            <p>Call or <a href="http://my.mediasation.com/usecarbucks.com/#">Apply Now &#187;</a>
              <span>(864) 234-9696</span>
            </p>
          </div>
          <!-- begin div.banner -->
          <div id="banner">
            <div class="printOnly">
              <img src="http://my.mediasation.com/usecarbucks.com/images/logo.png" alt="Use Car Bucks" />
            </div>
            <div id="masthead">
              <a href="http://my.mediasation.com/usecarbucks.com/index.php" title="Back to home." accesskey="0">
                <strong class="label">Use Car Bucks</strong>
              </a>
            </div>
          </div>
          <!-- end div.banner -->

          <div class="hr hidden">
            <hr />
          </div>
          <!-- begin div.hdrImg -->
          <div id="hdrImg">
            <!-- begin div.img -->
            <div id="img">
              <!-- begin div.flashreplace -->
              <div id="flashreplace">

              </div>
              <!-- end div.flashreplace -->
            </div>
            <!-- end div.img -->
            <!-- begin div.corner1 -->
            <div id="corner1" class="corner">&nbsp;</div>
            <!-- end div.corner1 -->
            <!-- begin div.corner2 -->
            <div id="corner2" class="corner">&nbsp;</div>
            <!-- end div.corner2 -->
            <!-- begin div.corner3 -->
            <div id="corner3" class="corner">&nbsp;</div>
            <!-- end div.corner3 -->
            <!-- begin div.corner4 -->
            <div id="corner4" class="corner">&nbsp;</div>
            <!-- end div.corner4 -->
          </div>
          <!-- end div.hdrImg -->
        </div>
        <!-- end div.header -->
      </div>
      <!-- end div.header_wrapper -->
      <div class="hr hidden">
        <hr />
      </div>
      <!-- begin div.contentWrapper -->
      <div id="contentWrapper">
        <!-- begin div.innerWrapper -->
        <!--RyanTest-->
        <div id="innerWrapper" class="clearafter">
          <!-- begin div.contentSlot -->
          <div id="contentSlot" role="main">
            <!-- begin div.layout -->
            <div id="layout" class="content">
              <h1 class="pg_title">
                <span>Service Areas</span>
              </h1>
              <!-- begin div.article -->
              <div id="article" role="article">
                <div>
                  <div id="service-areas">
                    <div class="service-area-container">
                      <h1>Our
                        <span>CarBucks</span> service areas.</h1>
                      <p class="tagline">Select your state below for information on specific representative information</p>
                      <div id="map">
                        <object type="image/svg+xml" data="http://my.mediasation.com/usecarbucks.com/images/usaHigh.svg" class="svg-content"></object>
                      </div>
                      <div class="results clearafter">
                        <h2>Here's what we've found in your area:</h2>
                      </div>

                        <script type="text/template" data-template-name="item-detail-template">
                          <div class="item-result">
                            <p class="name"><%= manager %></p>
                            <div class="areas">
                              <div class="area"><%= city %></div>
                              <div class="area address"><%= address %></div>
                            </div>
                            <p class="number"><%= phone %></p>
                            <p class="email"><%= email %></p>
                          </div>
                        </script>
                    </div>
                  </div>
                  <style>
                    .svg-content {
                      display: inline-block;
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: 100%;
                      height: auto;
                    }

                    #map {
                      display: inline-block;
                      position: relative;
                      width: 100%;
                      height: 550px;
                      vertical-align: middle;
                      overflow: hidden;
                    }
                  </style>
                </div>

              </div>
              <!-- end div.article -->
            </div>
            <!-- end div.layout -->
          </div>
          <!-- end div.contentSlot -->
          <div class="hr hidden">
            <hr />
          </div>
          <!-- begin div.sideBar -->
          <div id="sideBar" class="content" role="complementary">
            <!-- begin div.sideBarHook -->
            <div id="sideBarHook">
              <!-- begin div.sideBarContent -->
              <div id="sideBarContent">

                <div class="hr hidden">
                  <hr />
                </div>
                <!-- begin div.newsletter -->
                <div id="newsletter" class="spacer">
                  <div class="title">Stay Informed</div>
                  <form action="feedback/feedback.php" method="post">

                    <!-- begin div.input -->
                    <div class="input">
                      <label for="email" class="autopopulate">Enter Your Email Address...</label>
                      <input type="text" id="email" name="email" value="" class="email" />
                    </div>
                    <!-- end div.input -->
                    <!-- begin div.input -->
                    <div class="input">
                      <div class="hidden">
                        <label for="secret">Leave blank if you are human:</label>
                        <input type="text" id="secret" name="secret" value="" />
                      </div>
                      <label for="authcode" class="autopopulate">Verify Code</label>
                      <input class="required" type="text" value="" id="authcode" name="authcode" minlength="6" dir="Auth Code is required" />
                      <img src="http://my.mediasation.com/usecarbucks.com//authcode/authcode.php" alt="Auth Code Image" class="authcode" />
                      <span id="insertFlash" title="service-areas.php">&nbsp;</span>
                      <script type="text/javascript" src="flash.js"></script>
                    </div>
                    <!-- end div.input -->
                    <button type="submit" name="submit" value="submit">Go!</button>
                    <input type="hidden" name="form_name" value="Stay Informed" />

                  </form>
                </div>
                <!-- end div.newsletter -->
                <div class="hr hidden">
                  <hr />
                </div>
                <!-- begin div.search -->
                <div id="search" class="spacer">
                  <div class="title">Search Our Website</div>
                  <form action="search.php" method="get">
                    <label id="label_search_txt" for="search_txt" class="hidden">Search Our Website</label>
                    <input type="text" id="search_txt" name="s" value="" class="search" />
                    <button type="submit" name="submit" value="submit">Search</button>
                  </form>
                </div>
                <!-- end div.search -->
                <div class="hr hidden">
                  <hr />
                </div>
                <!-- begin div.marginContent -->
                <div id="marginContent" class="spacer">
                  <div class="margincontent">
                  </div>

                </div>
                <!-- end div.marginContent -->

              </div>
              <!-- end div.sideBarContent -->
            </div>
            <!-- end div.sideBarHook -->
          </div>
          <!-- end div.sideBar -->
          <br class="clear" />
        </div>
        <!-- end div.innerWrapper -->
      </div>
      <!-- end div.contentWrapper -->
      <div class="hr hidden">
        <hr />
      </div>
      <!-- begin div.footer_wrapper -->
      <div id="footer_wrapper">
        <!-- begin div.footer_inner -->
        <div id="footer_inner">
          <!-- begin div.footer -->
          <div id="footer" role="contentinfo">
            <div class="hr hidden">
              <hr />
            </div>
            <div id="footer-container">
              <div class="footer-wrap clearafter">
                <ul class="footer-list">
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Auction Login</a></li>
                  <li><a href="#">Dealer Login</a></li>
                </ul>
              </div>
            </div>
            <!-- begin div.copyright -->
            <div id="copyright">
              &copy;2015 Use Car Bucks. All rights reserved.
            </div>
            <!-- end div.copyright -->
            <!-- begin div.siteBy -->
            <div id="siteBy">
              <a href="http://www.fuelingbrands.com/services/website-design/" title="Custom Website Design" target="_blank">Web Design</a> and CMS by
              <a href="http://www.fuelingbrands.com/" title="FUEL Digital Marketing & Branding" target="_blank">FUEL</a>
            </div>
            <!-- end div.siteBy -->

            <a id="accesskeys_anchor" href="#accesskey_list">View Accesskeys</a>
            <br class="clear" />
            <div class="hr hidden">
              <hr />
            </div>
            <!-- begin div.accesskey_list -->
            <div id="accesskey_list" class="clearafter accesskeys offscreen">
              <h2 class="accesskeys_title">Accesskeys</h2>
              <p>This site contains a number of keyboard shortcuts, called "accesskeys," to assist in navigating. Each Internet browser has a different method of accessing these keys:</p>
              <ul style="list-style-type: disc;">
                <li>Internet Explorer on a PC use ALT+Accesskey</li>
                <li>Firefox on PC use ALT+SHIFT+Accesskey</li>
                <li>Firefox and Safari on Apple or Linux use CTRL+Accesskey</li>
              </ul>
              <p>Please note: Internet Explorer users may also need to hit the &ldquo;enter&rdquo; key to activate a link. Apple users with
                <em>Spaces enabled</em> may need to use the accesskey for
                <em>Skip to the main navigation (A)</em>; then, TAB through the navigation and press "enter" to activate a link.</p>
              <!-- begin div.accesskey_group -->
              <div class="accesskey_group navigation">
                <h3 class="accesskeys_group_title">Page navigation</h3>
                <ul>
                  <li class="help" title="Accesskey (0)">
                    <strong class="highlight">0</strong> : Back to Home</li>
                  <li class="help" title="Accesskey (1)">
                    <strong class="highlight">1</strong> : Floor Plans</li>
                  <li class="help" title="Accesskey (2)">
                    <strong class="highlight">2</strong> : Service Areas</li>
                  <li class="help" title="Accesskey (3)">
                    <strong class="highlight">3</strong> : Auctions</li>
                  <li class="help" title="Accesskey (4)">
                    <strong class="highlight">4</strong> : Contact Us</li>
                  <li class="help" title="Accesskey (5)">
                    <strong class="highlight">5</strong> : Login</li>
                </ul>
              </div>
              <!-- end div.accesskey_group -->
              <div class="hr hidden">
                <hr />
              </div>
              <!-- begin div.accesskey_group -->
              <div class="accesskey_group jumping">
                <h3 class="accesskeys_group_title">Page jumping</h3>
                <ul>
                  <li class="help" title="Accesskey (?)">
                    <strong class="highlight">?</strong> : View Accesskeys</li>
                  <li class="help" title="Accesskey (A)">
                    <strong class="highlight">A</strong> : Skip to the main navigation</li>
                  <li class="help" title="Accesskey (C)">
                    <strong class="highlight">C</strong> : Skip to the content</li>
                  <li class="help" title="Accesskey (S)">
                    <strong class="highlight">S</strong> : Skip to the side bar</li>
                </ul>
              </div>
              <!-- end div.accesskey_group -->
              <div class="hr hidden">
                <hr />
              </div>
            </div>
            <!-- end div.accesskey_list -->
          </div>
          <!-- end div.footer -->
        </div>
        <!-- end div.footer_inner -->
      </div>
      <!-- end div.footer_wrapper -->
    </div>
    <!-- end div.wrapper -->
    <!-- begin div.spark_outer_footer -->
    <div id="spark_outer_footer">&nbsp;</div>
    <!-- end div.spark_outer_footer -->
  </div>
  <!-- end div.outer_wrapper -->
  <div id="bt_fuel" style="display:none;"><a href="/bt_fuel.php">Do not click</a></div>

  </div>

  <!-- site scripts -->
  <script type="text/javascript" src="http://my.mediasation.com/usecarbucks.com/jquery/jquery-1.10.2.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://my.mediasation.com/usecarbucks.com/superfish/1.4.8/js/jquery.hoverIntent.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://my.mediasation.com/superfish/1.4.8/js/jquery.bgiframe.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://my.mediasation.com/superfish/1.4.8/js/superfish.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://my.mediasation.com/jquery/plugins/json.min.js" charset="utf-8"></script>
  <script type="text/javascript" language="javascript" charset="utf-8">
    // <![CDATA[
    $(document).ready(function() {
      $("ul#superfish").superfish({
        animation: {
          opacity: "show",
          height: "show"
        },
        delay: 80,
        speed: "normal",
        dropShadows: false // keep false (caused rendering  issues in older IE's)
          ,
        oldJquery: false // set to true if using jQuery version below 1.2
          ,
        disableHI: true // set to true to disable hoverIntent detection
          ,
        autoArrows: false // disable generation of arrow mark-up
      }).find(">li:has(ul)").mouseover(function() {
        $("ul", this).bgIframe({
          opacity: false
        });
      }).find("a").focus(function() {
        $("ul", $(".nav>li:has(ul)")).bgIframe({
          opacity: false
        });
      });
    });
    // ]]>
  </script>
  <script type="text/javascript" src="http://my.mediasation.com/libjs/swfobject2.js?v=2.2" charset="utf-8"></script>

  <script src="plugin.js" type="text/javascript"></script>
  <script src="http://my.mediasation.com/usecarbucks.com/spark/_globals/spark.js?v=06222015_0956" type="text/javascript" charset="utf-8"></script>
  <script src="http://my.mediasation.com/usecarbucks.com/js/jquery.slicknav.min.js" type="text/javascript" ></script>
  <script src="http://my.mediasation.com/usecarbucks.com/js/global.js" type="text/javascript" language="javascript" charset="utf-8"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/backbone/backbone.js"></script>
  <script src="jasper2.js" type="text/javascript"></script>



</body>

</html>
